@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  :root {
    --background: 60 15% 92%;
    --foreground: 47 39% 17%;
    --card: 60 20% 88%;
    --card-foreground: 47 39% 17%;
    --popover: 60 20% 88%;
    --popover-foreground: 47 39% 17%;
    --primary: 68 24% 34%;
    --primary-foreground: 60 15% 92%;
    --secondary: 150 10% 61%;
    --secondary-foreground: 47 39% 17%;
    --muted: 40 15% 80%;
    --muted-foreground: 40 24% 40%;
    --accent: 45 35% 51%;
    --accent-foreground: 47 39% 17%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 15% 92%;
    --border: 40 15% 70%;
    --input: 60 20% 88%;
    --ring: 68 24% 34%;
    --success: 61 33% 63%;
    --success-foreground: 47 39% 17%;
    --info: 150 15% 55%;
    --info-foreground: 47 39% 17%;
    --radius: 0.5rem;
    --chart-1: 150 10% 61%;
    --chart-2: 68 24% 34%;
    --chart-3: 45 35% 51%;
    --chart-4: 40 24% 40%;
    --chart-5: 61 33% 63%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
